{% extends "layout.html" %}
{% block content %}

<h1 class="text-center mb-3">Editar Usuario</h1>

<form method="POST" class="d-flex flex-column">
    {{ form.hidden_tag() }}
    
    <div class="mb-2">
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
    </div>
    <div class="mb-2">
        {{form.lastname.label(class="form-label")}}
        {{form.lastname(class="form-control")}}
    </div>
    <div class="mb-2">
        <label class="form-label">Email</label>
        <p class="form-control bg-secondary text-light">{{user.email}}</p>
    </div>
    <div class="mb-2">
        {{form.role_id.label(class="form-label")}}
        {{form.role_id(class="form-select")}}
    </div>

    <div class="mb-2">
        <button type="submit" class="btn btn-primary">Editar Usuario</button>
        <a href="{{url_for("admin_users.index")}}" class="btn btn-danger">Cancelar</a>
    </div>
    

</form>

{% endblock %}