{% extends "layout.html" %}
{% block content %}

<h1 class="text-center">Sitios Historicos</h1>
<div class="mb-3">
    <h2 class="">Filtros</h2>
    <form method="GET" class="d-flex flex-wrap">
        <div class="d-flex w-100 justify-content-between flex-wrap">
            <div class="mb-2 w-25 me-2">
                {{form.name.label(class="form-label")}}
                {{form.name(class="form-control")}}
            </div>
            <div class="mb-2 w-25 me-2">
                {{form.city.label(class="form-label")}}
                {{form.city(class="form-control")}}
            </div>
            <div class="mb-2 w-25 me-2">
                {{form.province.label(class="form-label")}}
                {{form.province(class="form-select")}}
            </div>
            <div class="mb-2 w-25">
                {{form.conservation_status_id.label(class="form-label")}}
                {{form.conservation_status_id(class="form-select")}}
            </div>
            <div class="mb-2 w-25 me-2">
                {{form.registered_at_start.label(class="form-label")}}
                {{form.registered_at_start(class="form-control")}}
            </div>
            <div class="mb-2 w-25 me-2">
                {{form.registered_at_end.label(class="form-label")}}
                {{form.registered_at_end(class="form-control")}}
            </div>
            <div class="mb-2 w-25 me-2">
                {{form.is_visible.label(class="form-label")}}
                {{form.is_visible(class="form-select")}}
            </div>
            <div class="mb-2 w-25">
                {{form.sort_by.label(class="form-label")}}
                {{form.sort_by(class="form-select")}}
            </div>
            <div class="mb-2 w-25 me-2">
                <label>{{ form.tags.label(class="form-label") }}</label>
                <div>
                    {% for subfield in form.tags %}
                        <label class="form-check-label">
                            {{ subfield(class="form-check-input") }}
                            <span>{{ subfield.label.text }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Filtrar</button>
        <a href="{{url_for("historic_sites.index")}}" class="btn btn-light">Limpiar Filtros</a>
    </form>
</div>

<a href={{url_for("historic_sites.create")}} class="btn btn-primary">Crear Sitio Historico</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Portada</th>
            <th scope="col">Nombre</th>
            <th scope="col">Provincia</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Etiquetas</th>
            <th scope="col">Conservación</th>
            <th scope="col">Registrado</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for historic_site in historic_sites %}
        <tr>
            <td><img src="{{historic_site.cover_image_url}}" style="width: 10vw;"></td>
            <td>{{historic_site.name}}</td>
            <td>{{historic_site.province}}</td>
            <td>{{historic_site.city}}</td>
            <td>
                {% for tag in historic_site.tags %}
                <p class="border border-dark rounded">{{tag.name}}</p>
                {% endfor %}
            </td>
            <td>{{historic_site.conservation_status.name}}</td>
            <td>{{historic_site.registered_at.strftime('%Y/%m/%d')}}</td>
            <td>{{"Visible" if historic_site.is_visible else "Oculto"}}</td>
            <td>
                <a href={{url_for("historic_sites.show", id=historic_site.id)}} class="btn btn-primary">Ver</a>
                <a href={{url_for("historic_sites.update", id=historic_site.id)}} class="btn btn-primary">Editar</a>
                {% if historic_site.is_visible %}
                    <form action="{{ url_for('historic_sites.toggle_status', id=historic_site.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro de ocultar el sitio historico {{historic_site.name}}?');" class="d-inline">
                        <button type="submit" class="btn btn-danger">Ocultar</button>
                    </form>
                {% else %}
                    <form action="{{ url_for('historic_sites.toggle_status', id=historic_site.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro de mostrar el sitio historico {{historic_site.name}}?');" class="d-inline">
                        <button type="submit" class="btn btn-primary">Mostrar</button>
                    </form>
                {% endif %}
                <form action="{{ url_for('historic_sites.delete', id=historic_site.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar el sitio historico {{historic_site.name}}?');" class="d-inline">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination d-flex justify-content-center">
        <!-- Botón Previo -->
        <li class="page-item {% if not historic_sites.has_prev %}disabled{% endif %}">
            <a class="page-link" 
               href="{% if historic_sites.has_prev %}{{ url_for('historic_sites.index', **dict(request.args, page=historic_sites.prev_num)) }}{% else %}#{% endif %}">
               Previo
            </a>
        </li>

        <!-- Números de Página -->
        {% for page_num in historic_sites.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
                {% if page_num == historic_sites.page %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page_num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('historic_sites.index', **dict(request.args, page=page_num)) }}">
                            {{ page_num }}
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&hellip;</span>
                </li>
            {% endif %}
        {% endfor %}

        <!-- Botón Siguiente -->
        <li class="page-item {% if not historic_sites.has_next %}disabled{% endif %}">
            <a class="page-link" 
               href="{% if historic_sites.has_next %}{{ url_for('historic_sites.index', **dict(request.args, page=historic_sites.next_num)) }}{% else %}#{% endif %}">
               Siguiente
            </a>
        </li>
    </ul>
</nav>

{% endblock %}