{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
{% endblock %}
{% block content %}

<div class="m-5 border border-secondary rounded p-5">
    <h1 class="text-center fs-1">{{historic_site.name}}</h1>
    <div class="d-flex flex-column my-3">
        <img src="{{historic_site.cover_image_url}}" class="mx-auto my-3">
        <p class="fs-5"><b class="fs-4">Descripción:</b> {{historic_site.full_description}}</p>
        <p class="fs-5"><b class="fs-4">Provincia:</b> {{historic_site.province}}</p>
        <p class="fs-5"><b class="fs-4">Ciudad:</b> {{historic_site.city}}</p>
        <p class="fs-5"><b class="fs-4">Año de Inauguración:</b> {{historic_site.inauguration_year}}</p>
        <p class="fs-5"><b class="fs-4">Categoría:</b> {{historic_site.category.name}}</p>
        <p class="fs-5"><b class="fs-4">Estado de Conservación:</b> {{historic_site.conservation_status.name}}</p>
        <p class="fs-5"><b class="fs-4">Etiquetas:</b></p>
        <div class="d-flex">    
            {% for tag in historic_site.tags %}
                <p class="border border-secondary rounded p-1 m-1">{{tag.name}}</p>
            {% endfor %}
        </div>
    </div>
    
    <div id="map" style="height: 400px; width: 100%; border-radius: 8px;"></div>
</div>

{% if change_events %}
<div class="m-5 border border-secondary rounded p-5">
    <h2 class="mb-3 text-center">Historial de Cambios</h2>
    {% for change_event in change_events %}
        <p class="border border-secondary rounded p-2 fs-5">Evento: <b>{{change_event.translated_change_type()}}</b> - Hecho por {{change_event.user.email}} el {{change_event.timestamp.strftime('%Y/%m/%d')}}</p>
    {% endfor %}
    
    <nav aria-label="Page navigation example">
    <ul class="pagination d-flex justify-content-center">
        <!-- Botón Previo -->
        <li class="page-item {% if not change_events.has_prev %}disabled{% endif %}">
            <a class="page-link" 
               href="{% if change_events.has_prev %}{{ url_for('admin_historic_sites.show', id=historic_site.id, page=change_events.prev_num) }}{% else %}#{% endif %}">
               Previo
            </a>
        </li>

        <!-- Números de Página -->
        {% for page_num in change_events.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
                {% if page_num == change_events.page %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page_num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('admin_historic_sites.show', id=historic_site.id, page=page_num) }}">
                            {{ page_num }}
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&hellip;</span>
                </li>
            {% endif %}
        {% endfor %}

        <!-- Botón Siguiente -->
        <li class="page-item {% if not change_events.has_next %}disabled{% endif %}">
            <a class="page-link" 
               href="{% if change_events.has_next %}{{ url_for('admin_historic_sites.show', id=historic_site.id, page=change_events.next_num) }}#historial-cambios{% else %}#{% endif %}">
               Siguiente
            </a>
        </li>
    </ul>
</nav>
</div>
{% endif %}


<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
    const initialLat = {{ historic_site.latitude }};
    const initialLng = {{ historic_site.longitude }};

    const map = L.map('map').setView([initialLat, initialLng], 15);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; OpenStreetMap'
    }).addTo(map);

    let marker = L.marker([initialLat, initialLng]).addTo(map);
</script>
{% endblock %}